.crossContainer {
  display: flex;
  justify-content: flex-end;
  color: #5461be;

  :hover {
    background: #ed4301;
    color: white;
    cursor: pointer;
  }
}

.container {
  padding: 0vh 1vw 2vh 0vw;
  font-family: "Karla", sans-serif;
  overflow-y: auto;
  height: 60vh;
  /* Hide scrollbar for Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  h1 {
    font-size: 2.5vh;
    font-weight: 550;
    color: #25307f;
    margin-bottom: 3vh;
  }
}

.section1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4vw;
  row-gap: 2vh;

  // @media (max-width: 700px) {
  //   grid-template-columns: 1fr;
  // }
  p {
    font-size: 1.9vh;
  }
  input {
    padding: 0vh 0.5vw;
    outline: none;
  }
  .inputDate {
    font-family: "Karla", sans-serif;
    outline: none;
    border: 1px solid #cfcfcf;
    height: 5vh;
    border-radius: 4px;
    width: 88%;
    padding: 0vh 1vw;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 20px;
  button {
    background: #fff;
    color: #25307f;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 0.8vh 0.8vw;
    font-size: 2vh;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

.inputText {
  height: 5vh;
  width: 93.5%;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
}

.dropdown {
  position: relative;
  width: 98.5%; // Use a percentage of viewport width for the dropdown
  // min-width: 120px; // Optional: fallback for very small screens
  font-family: "Inter", sans-serif;
}

.trigger {
  width: 100%;
  background: #fff;
  border: none;
  border: 1px solid #cfcfcf;

  border-radius: 4px;

  padding: 0vh 0.7vw;
  cursor: pointer;
  font-size: 1.8vh;
  font-family: "Karla", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.2vh;
  &:hover {
    border: 1px solid #cfcfcf;
  }
}

.arrow {
  color: #777;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-shadow: 0 0.3vh 4px rgba(60, 64, 67, 0.08);
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  width: 99.5%;
  z-index: 10;
  margin-top: 0.2vh;
  padding: 0;
  list-style: none;
  font-size: 2vh;
  font-family: "Karla", sans-serif;
}

.item {
  padding: 1.2vh 1vw;
  cursor: pointer;
  font-size: 1.9vh;
  color: #222;
  background: #fff;
  transition: background 0.15s;

  &:hover {
    background: #f5f8fd;
  }
}

.active {
  background: #e6edfd !important;
  color: #25307f;
  font-weight: 500;
}

.addMedicine {
  display: flex;
  align-items: center;
  margin-top: 15px;
  button {
    padding: 1vh 1vw;
    height: 5.8vh;
    background: white;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    border-radius: 4px;
    color: #777;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    &:hover {
      border: none;
      background: #f2f5ff;
    }
  }
}

.icon {
  color: #25307f;
  height: 2.8vh;
}
