.rate-container {
  background: #f1f1f1;
  color: black;
  padding: 0;
  height: auto;

  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
  }

  .divider {
    width: 100%;
    height: 0.5px;
    background: #4a4a4a8c;
    margin: 10px 0 20px 0;
  }
  .service-container {
    margin-bottom: 20px; /* Adjust the gap between services as needed */
    background: #eff1ff;
    padding: 10px;
    border-radius: 5px;

  }

  .rate-table {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .rate-table-header,
    .rate-table-row {
      display: grid;
      grid-template-columns: 1.25fr 1.5fr 1.5fr 1.25fr 1.25fr 1.25fr 1fr 0.5fr;
      padding: 15px;
      border-radius: 5px;
      align-items: center;
    }

    .rate-table-header {
      font-size: 16px;
      margin-left: 1.5rem;
    }

    .rate-table-row {
      font-size: 14px;
      background: white;
      margin-bottom: 0.5rem;
      span {
        padding-left: 1rem;
      }

      .view-btn {
        background: white;
        color: #25307f;
        border-radius: 1.5rem;
        border: 1px solid #25307f;
        text-transform: none;
        max-width: 60px;
      }

      .menu-btn {
        color: #555;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .grey {
        color: #747474;
        font-weight: 600;
      }

      .blue {
        color: #25307f;
        font-weight: 600;
      }
      .status {
        font-weight: bold;

        text-align: center;
        width: fit-content;
      }
    }
  }
}
