.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 650px;
  max-width: 95%;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.sectionBox {
  border: 1px solid #dadce0;
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;

  h3 {
    margin: 0 0 0.5rem 0;
    color: #333;
    font-size: 16px;
    font-weight: 600;
  }

  p {
    margin: 0.3rem 0;
  }

  ul {
    margin-left: 1.2rem;
  }
}

.modalFooter {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #555;
}

.closeBtn {
  background-color: #5461be;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
