.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //padding: 1rem 2rem;
  background-color: #25307f;
  color: black;
  //position: relative;

  .logo {
    width: 90px;
    height: 90px;
  }

  .hamburger {
    display: none;
    cursor: pointer;
    color: white;
  }

  .menu {
    display: flex;
    align-items: center;
    //gap: 3rem;
    gap: 4.5rem;

    .menu-item {
      cursor: pointer;
      font-weight: 500;
      color: white;
      &:hover {
        color: lightgray;
      }
    }

    .buttons {
      display: flex;
      gap: 1rem;

      button {
        padding: 8px 20px;
        border-radius: 16px;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 500;
      }

      .register {
        background-color: white;
        color: #25307f;
      }

      .login {
        background-color: white;
        color: #25307f;
      }
    }
  }

  // Responsive Styles
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }

    .menu {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #25307f;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 1.5rem 0;
      transition: transform 0.3s ease-in-out;
      transform: translateY(-100%);
      opacity: 0;
      pointer-events: none;
    }

    .menu.open {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }
  }
}
