.headerContainer {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  margin-bottom: 5px;

  .backButton {
    //margin-right: 2px;  // Space between button and h2
    margin-top: 9px;
    color: black;
    background-color: #f1f1f1;
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    cursor: pointer;
  }

  .departmentTitle {
    margin: 0; // Remove default margin of h2
    color: black;
    font-weight: 500;
    margin-bottom: 1px;
  }

  .departmentTitleDetails {
    margin: 0; // Remove default margin of h2
    color: #747474;
    font-weight: 500;
    margin-left: 8px;
  }
}
