$blue: #00a378;

.container {
  background: #f1f1f1;
  height: 99vh; // Make the entire div take up the full viewport height
  overflow-y: auto; // Enable vertical scrolling
  /* Hide scrollbar for Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;

  .backButton,
  .forwardButton {
    display: flex;
    color: $blue;
    background-color: #f1f1f1;
    font-weight: bold;
    font-size: 18px; // Adjusted for responsiveness
    padding: 4px 8px;
    border: none;
    &:hover,
    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }

  .departmentTitle,
  .departmentTitle1,
  .departmentTitleDetails {
    margin: 0;
    color: $blue;
    font-weight: 500;
    font-size: 1.5rem; // Adjusted for responsiveness
  }

  @media (max-width: 768px) {
    .backButton,
    .forwardButton {
      font-size: 16px;
    }

    .departmentTitle,
    .departmentTitle1,
    .departmentTitleDetails {
      font-size: 1rem;
    }
  }
}

.cardContainer {
  background-color: white;
  height: 220px; // Adjust height dynamically
  min-width: 260px;
  padding: 1.2rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.3s ease, border-color 0.3s ease;

  &:hover {
    transform: scale(1.02);
  }

  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .titleContainer {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .circle {
      background-color: #c8dfe4;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
    }

    .title {
      color: $blue;
      font-weight: 600;
      font-size: 1.1rem;
      margin: 0;
    }

    .arrow {
      color: $blue;
      margin-top: 0.3rem;
      margin-left: 0.3rem;
    }

    .icons {
      .message {
        color: $blue;
        font-size: 12px;
      }
      .phone {
        color: green;
      }
    }
  }

  .detailsContainer {
    margin-left: 1rem;
    margin-top: 12px;
    .details {
      display: flex;
      height: 28px;
      font-weight: 500;
      font-size: 14px;
      .name {
        color: black;
      }
      .value {
        color: gray;
        margin-left: 4px;
      }
    }
  }

  /* Laptops (1024–1366px) */
  @media (max-width: 1366px) and (min-width: 1024px) {
    padding: 0.9rem 0.6rem;
    height: 200px;

    .cardHeader {
      .title {
        font-size: 1rem;
      }
    }

    .detailsContainer {
      margin-left: 1.2rem;
      margin-top: 8px;

      .details {
        height: 24px;
        font-size: 13px;
      }
    }
  }
}

.superCardContainer {
  overflow-y: auto;
  min-height: 62vh; // Set a max height for the container
  display: grid;
  gap: 1.5rem;
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.truncate {
  max-width: 150px; // Adjust depending on design
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
}
@media (max-width: 1366px) and (min-width: 1024px) {
  .truncate {
    max-width: 120px;
  }
}
.scrollSection {
  height: calc(100vh - 220px); //  adjust based on your header height
  overflow-y: auto;
  padding-right: 4px; // optional (for scrollbar spacing)
}
