.requestInnerDetailsPage {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  background: white;
  .details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    border-radius: 10px;

    .medicineDetails {
      background: white;
      padding: 1rem 2rem;
      font-weight: 400;

      span {
        color: #25307f;
        font-weight: 500;
      }
      a {
        color: black;
        text-decoration: underline;
        font-weight: 400;
      }
    }
  }

  .requestProgress {
    background: white;
    padding: 1vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align timeline to the left */
    // width: 100%;

    h4 {
      color: #25307f;
      margin-left: 2.5rem;
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    /* Ensure Timeline is Fully Left-Aligned */
    .MuiTimeline-root {
      padding-left: 0 !important;
      width: 100%;
    }

    .MuiTimelineItem-root {
      min-height: 60px; /* Ensures enough space for connectors */
    }

    .MuiTimelineContent-root {
      text-align: left;
    }

    /* Input Field Styled Inside Timeline */
    .addUpdateTimeline {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 60%;
    }

    .updateInput {
      flex-grow: 1;
      padding: 8px;
      border: 0.5px solid #25307f;
      font-size: 14px;
      color: #74747487;
      background: #f3f5ff;
    }

    .sendButton {
      background: #25307f;
      border: none;
      color: white;
      padding: 0.5rem 1.5rem;
      cursor: pointer;
    }
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.headingLeft {
  display: flex;
  align-items: center;
  gap: 0.2vw;
  color: #25307f;
  font-size: 2.6vh;
}

.headingRight {
  color: #3c3c3c;
  font-size: 1.85vh;
}

.about {
  border: 1px solid #acacac;
  margin: 3vh 1.2vw;
  padding: 3vh 1vw;
  border-radius: 4px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-left: 4vh;
  margin-top: 1.6vh;
}

.docRequestContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5vh;
  //height: 18vh;
  width: 90%;

  margin: 2vh 1vh 2vh 1vh;
  background-color: #f3f5ff;
  border-left: 3px solid #feaf2f;
  padding: 1.5vh 2vh 0vh 3vh;
}

.docProfile {
  display: flex;
  align-items: center;
  gap: 0.8vw;
  font-size: 2vh;
  img {
    border-radius: 50%;
  }
}

.docMessage {
  // margin-top: 2.4vh;

  .mess1 {
    font-size: 1.9vh;
  }

  .mess2 {
    display: flex;
    align-items: center;
    gap: 0.6vh;
    color: #25307f;
    font-size: 1.9vh;
  }
}

.docDateTime {
  display: flex;
  justify-content: end;
  font-size: 1.8vh;
  color: #747474;
}

.nameAndDateTime {
  display: flex;
  align-items: center;
  gap: 0.8vw;
  height: 5.5vh;
  p {
    color: #25307f;
    font-size: 2.2vh;
    font-weight: 500;
  }

  span {
    color: #747474;
    font-size: 1.9vh;
  }
}

.adminMessage {
  font-size: 2vh;
  margin-top: 0.8vh;
  border-bottom: 1px solid #cfcfcf;
  height: 5.5vh;
  width: 62vw;
}

.yourMessage {
  display: flex;
  gap: 1vw;
  img {
    border-radius: 50%;
    height: 5.5vh;
    width: 5.5vh;
  }
}
.leftYM {
  position: relative;
}
.dottedLine {
  position: absolute;
  top: 5.5vh; /* aligns with bottom of the image */
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 6.5vh; // Adjust based on how long you want the line
  background: repeating-linear-gradient(
    to bottom,
    #acacac,
    #acacac 4px,
    transparent 4px,
    transparent 8px
  );
}

.submitContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 4vh 1.6vw 3vh 1.6vw;
  button {
    background-color: #25307f;
    color: white;
    border-radius: 4px;
    width: 10%;
    height: 5.6vh;
    font-size: 2vh;
  }
  .greenDotContainer {
    position: relative;

    width: 3%;
  }
  .greenDot {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background: #3db461;
  }
  input {
    width: 82%;
    border-radius: 4px;
    outline: none;
    border: 1px solid #4c5597;
    background-color: #f3f5ff;
    padding: 0vh 2vh;
    height: 5.6vh;

    &::placeholder {
      color: #bfc0c6;
    }
  }
}
