.tableContainer {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  /* WebKit-based browsers (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    display: none;
  }
}

.filterSearch {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.patientCount {
  font-size: 28px;
  font-weight: 600;
  color: #0c1b72;

  span {
    font-size: 16px;
    font-weight: 400;
    color: #888;
  }
}

.search-wrapper {
  display: flex;
  align-items: center;

  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 6px 10px 10px;

  .search-icon {
    color: #666;
    margin-right: 6px;
  }

  .search-input {
    border: none;
    outline: none;
    font-size: 0.9rem;
    background: transparent;
  }
}

.cross-icon {
  height: 21px;
  color: #ef4444;
  cursor: pointer;
}
