.patients {
  .patientHeader {
    display: flex; // Enables flexbox layout
    justify-content: flex-end; // Aligns items to the right
    align-items: center; // Vertically centers items
    padding-bottom: 10px;
    gap: 10px; // Optional: Add space between Searchbar and NotificationIcon
  }

  .cardhandling {
    margin-top: -34px;
    .heading {
      color: #000000;
      font-size: 19px;
      font-weight: 500;
      padding: 4px 0;
    }
  }

  .section {
    .headerLeft {
      display: flex;
      align-items: center;
      color: #58595b;
    }
    .title {
      font-weight: 500;
      color: #333;
      font-size: 20px;
    }
  }
}

.patientListContainer {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  /* WebKit-based browsers (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    display: none;
  }
}
