@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

.container {
  display: flex;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  gap: 4vh;
  justify-content: center;
  p {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 2.4vh;
    font-weight: 450;
  }
  div {
    display: flex;
    gap: 0.8vh;
    padding-bottom: 1vh;
  }
  button {
    background-color: #25307f;
    color: white;
    font-family: "Karla", sans-serif;
    font-size: 1.9vh;
    border-radius: 4px;
    word-break: keep-all;
    padding: 1.15vh 0vh;
    width: 10vw;
    font-weight: 350;
  }
}

.primaryBtn { position: relative; }

.spinner {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 8px;

  /* key changes */
  border: 2px solid transparent;   /* hide all sides */
  border-top-color: currentColor;   /* visible wedge = text color */
  border-right-color: currentColor; /* optional: thicker wedge */

  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  vertical-align: -4px;
}

@keyframes spin { to { transform: rotate(360deg); } }

