@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

.header-1 {
  display: flex;
  align-content: center;
  align-items: center;
  height: 8vh;
  justify-content: space-between;
}

.date-selections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 9px 13px;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  //max-width: 250px;
  width: 11vw;
  font-family: inherit;
  margin-top: 0px;
  height: 3.8vh;
  align-content: center;

  .text {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin-left: 5px;
    padding-top: 4px;
    .label {
      font-weight: 600;
      font-size: 14px;
      color: #000;
      display: flex;
      align-items: center;
      align-content: center;
    }

    .date {
      font-size: 13px;
      color: #999;
    }
  }

  .calendar-wrapper {
    position: relative;
    cursor: pointer;

    .calendar-icon {
      color: #1a2a85;
      font-size: 20px;
    }

    input[type="date"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }
}

.from-library {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: white;
  padding: 8px 16px 8px 14px;
  border-radius: 4px;
  margin-left: 0.5vw;
  color: #25307f;
  border: none;
  height: 6vh;
  p {
    margin-left: 0.6vw;
    color: #25307f;
    font-weight: 510;
  }
}

.header-left {
  display: flex;
}

.header-right {
  display: flex;
}
.appointment-container {
  display: flex;
  background: white;
  outline: #999;
  border: 1px solid #999;
  padding: 10px 12px 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  border: none;

  //align-content: center;
  align-items: center;
  .clock-icon {
    color: gray;
  }
  p {
    font-family: "Karla", sans-serif;
    margin-left: 0.5vw;
  }
}

.new-form-container {
  display: flex;
  background-color: #25307f;
  color: white;
  align-items: center;
  border-radius: 6px;
  margin-left: 0.5vw;
  padding: 8px 12px 8px 14px;
  cursor: pointer;
  border: none;
  p {
    font-family: "Karla", sans-serif;
    font-size: 16px;
    margin-left: 0.2vw;
  }
}

.header-2 {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #fff;
  padding: 20px;
  justify-content: space-between;
  height: 5vh;
}

@keyframes glow {
  0% {
    border-width: 1px;
  }
  50% {
    border-width: 2px;
  }
  100% {
    border-width: 1px;
  }
}

.h2-left {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0px 25px;
  background-color: #c6e0ce;
  width: 28vw;
  height: 6.5vh;
  border: 1px solid #60a16a;
  border-radius: 8px;
  animation: glow 3s infinite alternate;
  transition: border-width 1.5px ease-in-out;
  margin-left: 0.7vw;
}

.h2-right {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0px 12px;
  border-radius: 8px;
  background-color: #f1f1f1;
  width: 32vw;
  height: 6.5vh;
  margin-right: 0.7vw;
}

.pat-num-l {
  font-size: 1.7vh;
  color: #25307f;
  font-weight: 600;
}

.pat-name-l {
  font-size: 1.9vh;
  color: #25307f;
  font-weight: 600;
}

.pat-status-l {
  font-size: 1.7vh;
  color: #fff;
  background-color: #3db461;
  padding: 2px 10px;
  border-radius: 20px;
}

.pat-num-r {
  font-size: 1.7vh;
  color: #25307f;
  font-weight: 600;
  margin-left: 1.5vw;
}

.pat-name-r {
  font-size: 1.9vh;
  color: #25307f;
  font-weight: 600;
}

.pat-status-r {
  font-size: 1.7vh;
  color: #fff;
  background-color: #25307f;
  padding: 2px 20px;
  border-radius: 20px;
  margin-right: 1.5vw;
}

.left-panel {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 1.5vh;
  width: 30vw;
  height: 91vh;
  padding-top: 1vh;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  .btn {
    background-color: #ecf1ff;
    display: flex;
    color: #25307f;
    align-items: center;
    font-family: "Karla", sans-serif;
    font-size: 1.9vh;
    gap: 0.5vw;
    height: 4.5vh;
    min-width: 13.4vw;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    border: none;
    img {
      color: #25307f;
    }
  }
}

.lp-1 {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  border: 1px solid #e4e6ee;
  border-radius: 5px;
  padding: 9px 12px 7px 6px;
  height: 7vh;
  width: 88%;
  top: 10px;
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.lp-1-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
  margin-left: 0.5vw;
}

.lp-1-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lp-1-name {
  font-size: 16px;
  color: #25307f;
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
}

.lp-1-role {
  font-size: 13px;
  color: #000;
  font-weight: 300;
  margin: 0;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
}

.lp-2 {
  border: 1px solid #e4e6ee;
  padding: 9px 12px 7px 6px;
  border-radius: 5px;
  cursor: pointer;

  height: 7vh;
  width: 88%;
  top: 10px;

  p {
    color: #25307f;
    font-weight: 500;
    margin-top: 0.8vh;
    margin-left: 0.6vw;
  }
}

.lp-3 {
  border: 1px solid #e4e6ee;
  padding: 9px 12px 7px 6px;
  border-radius: 5px;
  height: 7vh;
  width: 88%;
  top: 10px;
  cursor: pointer;

  p {
    color: #25307f;
    font-weight: 500;
    margin-top: 0.8vh;
    margin-left: 0.6vw;
  }
}

.lp-4 {
  border: 1px solid #e4e6ee;
  padding: 9px 12px 7px 6px;
  border-radius: 5px;
  cursor: pointer;

  height: 7vh;
  width: 88%;
  top: 10px;

  p {
    color: #25307f;
    font-weight: 500;
    margin-top: 0.8vh;
    margin-left: 0.6vw;
  }
}

.lp-5 {
  border: 1px solid #e4e6ee;
  padding: 9px 12px 7px 6px;
  border-radius: 5px;
  cursor: pointer;

  height: 7vh;
  width: 88%;
  top: 10px;

  p {
    color: #25307f;
    font-weight: 500;
    margin-top: 0.8vh;
    margin-left: 0.6vw;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.lp-6 {
  border: 1px solid #e4e6ee;
  padding: 9px 12px 7px 6px;
  border-radius: 5px;
  cursor: pointer;

  height: 7vh;
  width: 88%;
  top: 10px;

  p {
    color: #25307f;
    font-weight: 500;
    margin-top: 0.8vh;
    margin-left: 0.6vw;
  }
}

.panel {
  display: flex;
}

.right-panel {
  background-color: #fff;
  // height: 90vh;
  width: 45.6vw;
  margin-left: 1.5vw;
  margin-top: 1.5vh;
}

.lp-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecf1ff;
  padding: 9px 12px 7px 6px;
  border-radius: 5px;
  border: 1px dotted gray;
  height: 9vh;
  width: 88%;
  top: 10px;
  cursor: pointer;

  p {
    font-size: 1.7vh;
    font-weight: 300;
  }
  .lp-7-icon {
    color: #25307f;
  }
}

.lp-8 {
  display: flex;
  gap: 1vw;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5vh;
    width: 13.4vw;
    color: #25307f;
    border-radius: 5px;
    background-color: #ecf1ff;
    gap: 8px;
    font-size: 1.8vh;
    border: none;
    box-shadow: 0 2px 8px #c5dafb42;
  }
}
.calendar-icon2 {
  //  color: #25307f;
  height: 2.2vh;
}
.active {
  border: 1.5px solid #1ab242; // strong green border
  background: #e7ffe7; // light green background
  border-radius: 5px;
}

.confirmed {
  border: 2px solid #28a745 !important; // Green outline
  border-radius: 8px;
}

.lp-1:not(.active):hover,
.lp-2:not(.active):hover,
.lp-3:not(.active):hover,
.lp-4:not(.active):hover,
.lp-5:not(.active):hover,
.lp-6:not(.active):hover {
  background: #f5fbf7;
  border-color: #b7ebc3;
}

.backdrop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(44, 44, 62, 0.15);
  z-index: 19;
}

.complete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  // height: 80vh;
  width: 30%;
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  //padding: 0vh 0vw 3vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.refer-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  // height: 80vh;
  width: 42%;
  background: #fff;
  border-radius: 0px;
  //box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  // padding: 0vh 0vw 3vh 2vw;
  // display: flex;
  // flex-direction: column;
  // align-items: stretch;
}

.nextAppointment-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  // height: 80vh;
  width: 40%;
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  // padding: 0vh 0vw 3vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.addQuestion-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  // height: 80vh;
  width: 35%;
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  // padding: 0vh 0vw 3vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.no-appointments {
  text-align: center;
  padding: 50px 0;
  font-size: 1.2rem;
  color: #777;
  height: 66vh;
}
.scheduleTreatment-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  // height: 80vh;
  width: 35%;
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  // padding: 0vh 0vw 3vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
