.section1 {
  display: flex;
  justify-content: space-between;
  margin-top: 1.8vh;
}

.patientInfo {
  background-color: white;
  width: 30%;
  padding: 1vh 1.2vw;
  //height: fit-content;
  h4 {
    font-size: 2.4vh;
    color: #25307f;
    font-weight: 640;
  }
}

.patientCard {
  background: #f2f5ff;
  display: flex;
  gap: 1.8vh;
  // justify-content: space-between;
  padding: 1vh 0vw 1vh 1vw;
  img {
    border-radius: 50%;
  }

  p {
    font-size: 1.85vh;
    font-weight: 550;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.4vh;
      font-weight: 550;
    }
  }
}

.imgWrapper {
  display: flex;
  align-items: center;
  img {
    width: 4vw;
  }
}
.patientCardInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8vh;
}
.patientKey {
  color: #333333;
  display: flex;
  flex-direction: column;
  width: 40%;
  line-height: 1.4;
}

.patientValue {
  color: #25307f;
  display: flex;
  flex-direction: column;
  width: 60%;
  line-height: 1.4;
  word-break: break-word;
}

.patientKey2 {
  width: 40%;
  font-weight: 550;
  color: #333;
  font-size: 1.8vh;
  line-height: 1.4;

  @media (max-width: 1200px) {
    font-size: 1.5vh;
    font-weight: 550;
  }
}

.patientValue2 {
  width: 55%;
  color: #25307f;
  display: flex;
  flex-direction: column;
  gap: 0.6vh;

  @media (max-width: 1200px) {
    font-size: 1vh;
    font-weight: 550;
  }
}

.patientDetail,
.emergencyContact {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  margin-left: 1vw;
  margin-top: 2vh;
  padding-bottom: 1vh;
}

.emergencyContact {
  background: #fbf8fb;
  border: 1px solid #f14400;
  padding-left: 0;
  margin-left: 0;
  padding-left: 1vw;
  padding-top: 1vh;
  margin-top: 1vh;
  border-radius: 14px;
}

.detailRow {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.patientValue2 {
  width: 60%;
  color: #25307f;
  font-size: 1.8vh;
  font-weight: 550;
  line-height: 1.4;
  word-break: break-word;

  @media (max-width: 1200px) {
    font-size: 1.5vh;
    font-weight: 550;
  }
}

.patientAddress {
  display: flex;
  align-items: center;
}

.progressTracker {
  background-color: white;
  width: 65%;

  h4 {
    color: #25307f;
    margin-left: 3vw;
    margin-top: -2vh;
    font-size: 2.4vh;
    margin-bottom: 0vh;
  }
}

.row1PT {
  display: flex;
  justify-content: flex-end;

  button {
    margin-top: 1vh;
    margin-right: 3vh;
    background: #25307f;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.6vh;
    border-radius: 4px;
    padding: 0.6vh 1.2vh;
    font-size: 2vh;
  }
}

.section2 {
  margin-top: 1vh;
}

.header2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12vw;
  background-color: white;
  height: 5.4vh;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  @media (max-width: 1200px) {
    font-size: 1.8vh;
  }
}

.activeTab {
  position: relative;
  color: #25307f;
  font-weight: 600;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%); // center horizontally
    width: 110%;
    height: 2px;
    background-color: #25307f;

    @media (max-width: 1200px) {
      left: 0;
      transform: none;
      width: 100%;
    }
  }
}

.inactiveTab {
  color: #878787;
  font-weight: 600;
  cursor: pointer;
}

.backdropOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(44, 44, 62, 0.15);
  z-index: 2;
}

.updateProgressModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  // height: 80vh;
  width: 40vw;
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  padding: 0vh 0vw 3vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
