.section1 {
  display: flex;
  justify-content: space-between;
  margin-top: 1.8vh;
}

.patientInfo {
  background-color: white;
  width: 30%;
  padding: 1vh 1.2vw;
  h4 {
    font-size: 2.4vh;
    color: #25307f;
    font-weight: 640;
  }
}

.patientCard {
  background: #f2f5ff;
  display: flex;
  gap: 1.8vh;
  // justify-content: space-between;
  padding: 1vh 0vw 1vh 1vw;
  img {
    border-radius: 50%;
  }

  p {
    font-size: 1.85vh;
    font-weight: 550;
  }
}

.imgWrapper {
  display: flex;
  align-items: center;
}
.patientCardInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8vh;
}
.patientKey {
  color: #333333;
  display: flex;
  flex-direction: column;
  width: 40%;
  line-height: 1.4;
}

.patientValue {
  color: #25307f;
  display: flex;
  flex-direction: column;
  width: 60%;
  line-height: 1.4;
  word-break: break-word;
}

.patientKey2 {
  width: 40%;
  font-weight: 550;
  color: #333;
  font-size: 1.8vh;
  line-height: 1.4;
}

.patientValue2 {
  width: 55%;
  color: #25307f;
  display: flex;
  flex-direction: column;
  gap: 0.6vh;
}

.patientDetail {
  display: flex;
  flex-direction: column;
  gap: 1.2vh;
  margin-left: 1vw;
  margin-top: 2vh;
  padding-bottom: 1vh;
}

.detailRow {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.patientValue2 {
  width: 60%;
  color: #25307f;
  font-size: 1.8vh;
  font-weight: 550;
  line-height: 1.4;
  word-break: break-word;
}

.patientAddress {
  display: flex;
  align-items: center;
}

.progressTracker {
  background-color: white;
  width: 65%;

  h4 {
    color: #25307f;
    margin-left: 3vw;
    margin-top: -2vh;
    font-size: 2.4vh;
    margin-bottom: 2vh;
  }
}

.row1PT {
  display: flex;
  justify-content: flex-end;

  button {
    margin-top: 1vh;
    margin-right: 3vh;
    background: #25307f;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.6vh;
    border-radius: 4px;
    padding: 0.6vh 1.2vh;
    font-size: 2vh;
  }
}

.section2 {
  margin-top: 1vh;
}

.header2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12vw;
  background-color: white;
  height: 5.4vh;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.activeTab {
  position: relative;
  color: #25307f;
  font-weight: 600;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%); // center horizontally
    width: 110%;
    height: 2px;
    background-color: #25307f;
  }
}

.inactiveTab {
  color: #878787;
  font-weight: 600;
}
