.container {
  width: 100%;
  margin: 0;
}

.head{
  color: #25307F;
  font-size: 1.7rem;
  font-weight: 500;
}

.backButton,
.forwardButton {
  margin: 5px 2px 0 0;
  color: #25307F;
  background-color: #f1f1f1;
  font-weight: bold;
  font-size: 18px; // Adjusted for responsiveness
  padding: 4px 8px;
  border: none;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}
.header {
  display: flex;
  justify-content: flex-end;
  gap: 0.8vw;
  margin-top: 1vh;
}
.content {
  background: white;
  margin: 2vh 0vw;
}
.selection {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  cursor: pointer;
  .selectionDiv {
    width: 24vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #25307f;
    font-family: "Karla", sans-serif;
    font-weight: 600;
  }
}
.selectedTab {
  border-bottom: solid #25307f;
}
