.book-appointment {
  margin: auto;
  padding: 15px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: black;

  .book-header {
    display: flex;
    align-items: center;

    h2 {
      font-size: 1.25rem;
      margin-left: 4px;
    }

    .close-btn {
      height: 30px;
      width: 30px;
      min-width: none;
      background: none;
      padding: 4px 8px;
    }
  }

  .divider {
    margin: 10px 0;
  }

  .content {
    display: flex;
    gap: 15px;
    margin-top: 15px;

    .left-panel {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      h3 {
        font: 13px;
        font-weight: 400;
      }

      .MuiTextField-root {
        width: 100%;
      }
    }

    .right-panel {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .submit-btn {
        background: #25307f;
      }
    }
  }
  .react-calendar {
    background: #eaecff !important;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-family: "Arial", sans-serif;
    width: 100%;
  }

  .react-calendar__tile {
    color: #181f52 !important; // Change text color
    font-weight: 500;
  }
  .react-calendar__navigation {
    background: #ffffff;
  }

  .react-calendar__tile--active {
    background: #181f52 !important;
    color: white !important;
    border-radius: 5px;
  }

  .react-calendar__tile:hover {
    background: #aeb4ff !important;
    border-radius: 5px;
  }
  .MuiTextField-root {
    font-size: 14px !important;
  }
}
