.book-appointment {
  margin: auto;
  padding: 15px;
  background: #fff;
  border-radius: 8px;
  color: black;
  display: flex;
  flex-direction: column;
  // background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden; // Prevent content from overflowing the modal
  &.from-doctor {
    max-height: 75vh;
  }

  &.default {
    max-height: 65vh; // Prevent overflowing the screen
  }
  .book-header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;

    h2 {
      font-size: 1.25rem;
      margin-left: 4px;
    }

    .close-btn {
      height: 30px;
      width: 30px;
      background: none;
      padding: 4px 8px;
      border: none; // Ensure no border is applied

      &:hover,
      &:focus,
      &:active {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .divider {
    position: sticky;
    top: 40px;
    z-index: 11;
    background: white;
  }

  .content {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    flex: 1;
    overflow-y: auto; // Scrollable content
    padding: 20px;
    height: max-content;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;

    .left-panel {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      h3 {
        font: 13px;
        font-weight: 400;
      }

      .MuiTextField-root {
        width: 100%;
      }
    }

    .right-panel {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .submit-btn {
        background: #25307f;
      }

      .submit-btn:hover {
        background: #aec3ff;
      }
    }
  }
  .react-calendar {
    background: #eaecff !important;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-family: "Arial", sans-serif;
    width: 100%;
  }

  .react-calendar__tile {
    color: #181f52 !important; // Change text color
    font-weight: 500;
  }
  .react-calendar__navigation {
    background: #ffffff;
  }

  .react-calendar__tile--active {
    background: #181f52 !important;
    color: white !important;
    border-radius: 5px;
  }

  .react-calendar__tile:hover {
    background: #aeb4ff !important;
    border-radius: 5px;
  }
  .react-calendar__tile:disabled {
    background: #eaecff !important; /* Same background as regular tiles */
    color: gray !important; /* Make text gray */
    opacity: 1 !important; /* Prevent faded look */
    cursor: not-allowed !important;
    pointer-events: none; /* Ensure no interaction */
  }

  .MuiTextField-root {
    font-size: 14px !important;
  }
}
