.todayRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 9px 13px;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  max-width: 250px;
  width: 60%;
  font-family: inherit;
  height: 28px;
  .text {
    display: flex;
    flex-direction: column;

    .label {
      font-weight: 600;
      font-size: 14px;
      color: #000;
    }

    .date {
      font-size: 13px;
      color: #999;
    }
  }

  .calendarWrapperIn {
    position: relative;
    cursor: pointer;

    .calendarIcon {
      color: #1a2a85;
      font-size: 20px;
    }

    input[type="date"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }
}
