@use "sass:color";
.patientsListDoctorContainer {
  margin-top: 0.25rem;
  margin-bottom: 2rem;

  .listHeader {
    display: flex; // Enables flexbox layout
    justify-content: flex-end; // Aligns items to the right
    align-items: center; // Vertically centers items
    padding-bottom: 5px;
    gap: 10px; // Optional: Add space between Searchbar and NotificationIcon
  }

  .greeting {
    //margin-top: -2.7rem;
    margin-bottom: 0.4rem;
    //font-family: "Karla", "sans-serif";
    .heading {
      color: #333333;
      font-size: 18px;
      font-weight: 500;
      justify-content: left;
    }
    p {
      margin-top: 0.15rem;
      color: #4a4a4a;
      font-size: 12px;
      font-weight: 300;
    }
  }

  .listHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.25rem;

    .headingContainer {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      margin-left: -0.5rem;

      .heading {
        color: #25307f;
        font-family: "Hanken Grotesk", "sans-serif";
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
      }
    }

    .buttonsContainer {
      display: flex;
      align-items: center;
      gap: 10px;
      .filterButton {
        background-color: #fff;
        border: 1px solid #25307f;
        border-radius: 6px;
        padding: 4px 16px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-weight: 500;
        color: #25307f;

        svg {
          font-size: 14px;
          color: #25307f;
        }
      }

      .addButton {
        display: flex;
        font-size: 14px;
        align-items: center;
        gap: 8px;
        background-color: #00a378;
        color: #d9d9d9;
        padding: 8px 16px;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
          background-color: color.adjust(#00a378, $lightness: -5%);
        }
      }
    }
  }

  .toAdmit {
    background-color: #ffffff;
    margin-top: 0.5rem;
    padding: 0.75rem;

    .description {
      font-family: "Karla";
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #000000;

      .count {
        font-weight: 600;
        color: #25307f;
      }
    }

    .toAdmitSliderWrapper {
      margin: 20px 0;

      .slick-slide-card {
        padding: 0 10px;
        height: 100%;
      }

      .slick-slide > div {
        display: flex;
        justify-content: center;
        height: 100%;
      }

      .slick-prev,
      .slick-next {
        z-index: 1;
      }

      .patientCard {
        background: #f2f5ffb2;
        border-radius: 10px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: space-between;
        height: 100%; // Important to fill card container
        min-height: 180px;

        .card_upper {
          .patientInfo {
            .card_top_row {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 0.5rem;
              .patientDetailsContainer {
                display: flex;
                align-items: center;

                .patientAvatar {
                  width: 45px;
                  height: 45px;
                  border-radius: 50%;
                  //  background-color: #e0e0e0; // Placeholder for avatar
                  margin-right: 10px;
                }
                .patientName {
                  font-family: "Karla", "sans-serif";
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 100%;
                  letter-spacing: 0%;
                  vertical-align: middle;
                  color: #000000;
                  margin-bottom: 5px;
                }
                .patientAge {
                  font-family: "Karla", "sans-serif";
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 100%;
                  letter-spacing: 0%;
                  vertical-align: middle;
                  color: #333333;
                }
              }
            }
            .patientDetails {
              margin-top: 0.75rem;
              margin-left: 6px;
              display: flex;
              flex-direction: column;
              gap: 10px;
              font-family: "Karla", "sans-serif";
              font-weight: 500;
              font-size: 14px;
              line-height: 100%;
              letter-spacing: 0%;
              vertical-align: middle;
              .detail-row {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                gap: 8px;
              }
              .label {
                flex-shrink: 0;
                color: #000;
              }

              .value {
                font-family: "Karla", "sans-serif";
                font-weight: 400;
                font-size: 13px;
                color: #333;
                text-align: right;
              }

              .reason-truncate {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 130px; // Adjust to suit layout
                display: inline-block;
                text-align: right;
              }
            }
          }

          .actionButtons {
            display: flex;
            gap: 10px;
            cursor: pointer;
          }
        }
        .admit_btn_container {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "Karla", "sans-serif";
          font-weight: 500;

          line-height: 100%;
          letter-spacing: 0%;
          vertical-align: middle;

          .admit_btn {
            height: 3.4vh;
            width: 4.4vw;
            font-size: 1.9vh;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #dae4ff;
            color: #333333;
          }

          .approval-status {
            display: flex;

            width: 100%;
            // If both status elements exist
            &.two-status {
              justify-content: space-between;
            }

            // If only one status exists
            &:not(.two-status) {
              justify-content: center;
            }

            .approved-text {
              color: #2e823b;
              font-weight: 600;
            }

            .pending-text {
              color: #eaa000;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .admittedPatients {
    background: #ffffff;
    margin: 0.5rem 0;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    height: 64vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    /* Hide scrollbar for Chrome, Safari, Opera */
    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

    /* Hide scrollbar for Firefox */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

    .admittedHeader {
      display: flex;
      align-items: center;
      gap: 10px;

      .headerItem {
        font-family: "Karla";
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        padding: 6px 16px;

        &.active {
          border-bottom: 2px solid #25307f;
        }
      }

      .Critical {
        color: #f14400;
      }

      .Admitted {
        color: #eaa000;
      }

      .Follow-Up {
        color: #2e823b;
      }
    }

    .admittedList {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 columns */
      grid-auto-rows: auto;
      row-gap: 10px;
      column-gap: 1rem;
      padding: 0.75rem;
    }

    .pagination {
      display: flex;
      margin-top: auto;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 0.5rem;
    }
  }
}
