* {
  padding: 0;
  margin: 0;
}

.sidebar {
  /* Hide scrollbar for Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  .sideElement {
    color: black;
    padding: 21px;
    padding-left: 30px;
    //border: 1px solid black;
    cursor: pointer;
  }

  .sideElement:hover {
    background-color: #ccf4ea;
  }

  .active {
    background-color: #00a378;
    color: white;
  }
}
