* {
  padding: 0;
  margin: 0;
}

.sidebar {
  .sideElement {
    color: black;
    padding: 22px;
    padding-left: 30px;
    //border: 1px solid black;
    cursor: pointer;
  }

  .sideElement:hover {
    background-color: #aec3ff;
  }

  .active {
    background-color: #25307f;
    color: white;
  }
}
