.crossContainer {
  display: flex;
  justify-content: flex-end;
  color: #5461be;

  :hover {
    background: #ed4301;
    color: white;
    cursor: pointer;
  }
}

.container {
  padding: 0 1vw 2vh 1vw;
  font-family: "Karla", sans-serif;
  height: 75vh;
  overflow-y: auto;
  h1 {
    font-size: 2.5vh;
    font-weight: 550;
    color: #25307f;
    margin-bottom: 3vh;
  }

  /* Hide scrollbar for Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.submitBtnContainer {
  display: flex;
  justify-content: center;
  gap: 0.8vw;
  margin-top: 14vh;
  button {
    border-radius: 4px;
    padding: 1.2vh 0.8vw;
    font-size: 1.9vh;
  }
}

.blueBtn {
  border: none;
  background: #25307f;
  color: white;
  font-weight: 350;
}

.whiteBtn {
  background: white;
  font-weight: 500;
  color: #25307f;
  border: 1px solid #25307f;
  &:hover {
    border: 1px solid #25307f;
  }
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.sectionHeading {
  font-size: 2.15vh;
  font-weight: 510;
}
.actionBtns {
  display: flex;
  justify-content: space-between;

  button {
    background: #dae4ff;
    color: #25307f;
    border-radius: 2px;
    border: 1px solid #25307f;
    font-size: 1.9vh;
    width: 48.5%;
    padding: 1.7vh 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;

    &:hover {
      border: 1px solid #25307f;
    }
    img {
      height: 2vh;
    }
  }
}

.labelRB {
  color: #25307f;
  font-size: 2.05vh;
  font-weight: 510;
}

.valueRB {
  color: #292929;
}

.editBtn {
  height: 2.8vh;
}

.contentRB {
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  padding: 0.5vh 1vw 0.5vh 0vw;
}
.contentRB {
  display: flex;
}
.dataRB {
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 0vh 2vw 0vh 1vw;
}

.dataChildRB {
  display: flex;
  flex-direction: column;
  gap: 0.6vh;
}

.roomAndBed {
  display: flex;
  flex-direction: column;
  gap: 0.8vh;
}
.contentWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.amenities {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.amenitiesBtnWrapper {
  display: flex;
  justify-content: space-between;
}
.amenitiesBtn {
  background: white;
  border: 1.6px solid #5461be;
  border-radius: 4px;
  padding: 0.8vh 0.5vw;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-size: 2vh;
  font-weight: 475;

  img {
    height: 2.2vh;
  }
}
