.patientCard {
  background: #f2f5ff;
  border-radius: 5px;
  padding: 0.75rem 1rem;

  .patientInfo {
    .patientHeader {
      display: flex;

      justify-content: space-between;
    }
    .patientDetailsContainer {
      display: flex;
      align-items: center;

      .patientAvatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #e0e0e0; // Placeholder for avatar
        margin-right: 10px;
      }
      .patientName {
        font-family: "Karla", "sans-serif";
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #000000;
        margin-bottom: 5px;
      }
      .patientAge {
        font-family: "Karla", "sans-serif";
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #333333;
      }
    }
    .patientCardDetails {
      margin-top: 0.75rem;
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-family: "Karla", "sans-serif";
      font-weight: 400;
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #333333;

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  .actionButtons {
    margin-top: 10px;
    display: flex;
    gap: 8px;
    cursor: pointer;
  }

  .statusDot {
    width: 20px; /* base size */
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Critical outer circle */
  .admitted-followup-critical {
    background-color: #e5b5b8;
  }

  /* Critical inner circle */
  .innerCircle {
    width: 10px;
    height: 10px;
    background-color: #f44336;
    border-radius: 50%;
  }

  /* Other statuses */
  .admitted-followup {
    background-color: #eaa000;
    width: 15px; /* base size */
    height: 15px;
  }

  .followup {
    background-color: #2e823b;
    width: 15px; /* base size */
    height: 15px;
  }
}
