.container {
  background: white;
  margin-top: 1vh;
  padding: 1.4vh 2vw;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: #25307f;
      font-weight: 600;
      font-size: 2.4vh;
      margin-left: 1vw;
    }
    .updateBtn {
      background: #25307f;
      color: white;
      display: flex;
      align-items: center;
      gap: 0.6vh;
      font-size: 2vh;
      padding: 0.6vh 1vh;
      border-radius: 4px;

      border: none;
      &:hover {
        background: #f2f5ff;
        color: #25307f;
      }
    }
  }
}
.noData {
  text-align: center;
  margin-top: 0vh;
  font-size: 2.3vh;
}

.buttons {
  display: flex;
  gap: 0.5vw;
  font-size: 1.9vh;
}

.backdropOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(44, 44, 62, 0.15);
  z-index: 2;
}

.updateModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  // height: 80vh;
  width: 50vw;
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  //padding: 0vh 0vw 3vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tableContainer {
  margin-top: 3vh;
  margin-bottom: 2vh;
  width: 100%;
  height: 30vh;
  overflow-x: auto;
  display: flex;
  justify-content: center;

  /* Hide scrollbar for Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.table {
  width: 99%;
}

.head,
.tr {
  display: flex;
  width: 100%;
}

.th,
.td {
  width: 20%;
  display: flex;
  gap: 0.3vw;
  align-items: center;
  justify-content: center;
}

.th {
  border-bottom: 2px solid black;
  height: 5vh;
  font-weight: 500;
  font-size: 2.1vh;
}

.icon {
  width: 1.1vw;
}

.heartPluse {
  width: 1.4vw;
}

.td {
  font-size: 2.1vh;
}

.value {
  font-weight: 600;
}

.unit {
  font-weight: 450;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-top: 2vh;
  padding-bottom: 2vh;
}

.tr {
  height: 8vh;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.todayRow {
  background-color: #f2f5ff;
  border: 1px solid #25307f;
  animation: blinking 1.6s ease-in-out infinite;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

@keyframes blinking {
  0% {
    border-color: #25307f;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: #25307f;
  }
}
.printBtn {
  background: #25307f;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.9vh;
  font-weight: 400;
  padding: 0.8vh 1.2vw;
  border-radius: 4px;
  border: none;
  margin-right: 1vw;
  cursor: pointer;
  &:hover {
    background: #f2f5ff;
    color: #25307f;
  }
}
