.patient-header {
  display: flex;
  justify-content: space-between;
  color: black;
  border-bottom: 0.5px solid #4a4a4a8c;
  margin-bottom: 1.25rem;
  position: fixed;
  top: 0px;
  padding: 10px 0;
  width: 76%;
  z-index: 10;
  background-color: #f1f1f1;

  .patient-info {
    display: flex;
    align-items: center;
    gap: 4px;
    h2 {
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #25307f;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #878787;
    }
  }

  .patient-actions {
    display: flex;
    gap: 1rem;

    .box {
      display: flex;
      padding: 0 8px;
      background-color: white;
      gap: 10px;
      align-items: center;
      height: 35px;
      border-radius: 5px;
      p {
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #878787;
      }
    }
  }
}

.backdrop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(44, 44, 62, 0.15);
  z-index: 2;
}
.billing-modal {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 36vw;
  background: #fff;
  z-index: 10;
  box-shadow: -4px 0 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;

  // Initially hidden (off-screen)
  transform: translateX(100%);
}

.billing-modalOpen {
  transform: translateX(0);
}
