$primary-color: #25307F;
$secondary-color: #5663C2;
$input-bg: #E9EDF0;
$text-color: black;

.contact-container {
  color: $text-color;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 4rem 2rem 1rem 4rem;

  .image-container {
    img {
      height: 85vh;
      width: 40vw;
    }
  }

  .form-container {
    h3 {
      color: $secondary-color;
      font-size: 25px;
      font-weight: 500;
      height: 35px;
    }

    h2 {
      color: $primary-color;
      font-size: 35px;
    }

    .form-wrapper {
      margin-top: 2rem;

      form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        input, textarea {
          width: 70%;
          padding: 10px 20px;
          border: 1px solid $input-bg;
          border-radius: 2px;
          background-color: $input-bg;
          font-size: 14px;
          outline: none;
        }

        input {
          height: 32px;
        }

        textarea {
          height: 7rem;
        }

        .submit-btn {
          background: $primary-color;
          color: white;
          padding: 10px 3.5rem;
          border-radius: 12px;
          cursor: pointer;
          border: none;
          width: fit-content;
          outline: none;
        }
      }
    }
  }
}
