.register {
  // height: 100vh;
  &.loginPageActive {
    //width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-top: 10%;
    margin-right: 15%;
    //height: 400px;

    @media (max-width: 1024px) {
      margin-right: 0;
    }
  }
  &.otherPages {
    flex-basis: 80%;
    background-color: #f1f1f1;
    padding: 3px 20px;
  }
}
.logo {
  margin: 0 0 10px 10px;
}
.crmApp {
  /*If anything happens in screens of admin,patient and doctor, then try to comment out it again, since i am working on ipd... */
  //display: flex;
}
