.register {
  // height: 100vh;
  &.loginPageActive {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.otherPages {
    flex-basis: 80%;
    background-color: #f1f1f1;
    padding: 15px 20px;
  }
}
.logo {
  margin: 0 0 20px 10px;
}
.crmApp {
  display: flex;
}
