.main {
    height: 100%;
    width: 100vw;
    background-color: #F1F1F1;
    // overflow: hidden;
    display: flex;
    // -webkit-overflow-scrolling: none;

}

.left {
    width: 16.3%;
    height: 100%;
}

.right {
    width: 85.7%;
    // height: 100%;
}