.patients {
  margin-top: 1rem;
  .patientHeader {
    display: flex; // Enables flexbox layout
    justify-content: flex-end; // Aligns items to the right
    align-items: center; // Vertically centers items
    padding-bottom: 10px;
    gap: 10px; // Optional: Add space between Searchbar and NotificationIcon
  }

  .cardhandling {
    //margin-top: -2.7rem;
    margin-bottom: 0.6rem;
    .heading {
      color: #333333;
      font-size: 18px;
      font-weight: 500;
    }
    p{
      color: #4a4a4a;
      font-size: 12px;
    }
  }

  .section {
    .title {
      color: #000000;
      font-size: 24px;
      font-weight: 600;
      margin-left: 1rem;
    }
  }
}
