@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

.crossContainer {
  display: flex;
  justify-content: flex-end;
  color: #5461be;

  :hover {
    background: #ed4301;
    color: white;
    cursor: pointer;
  }
}

.container {
  padding: 0vh 0vw 2vh 0vw;
  font-family: "Karla", sans-serif;
  height: 78vh;
  overflow-y: auto;
  /* Hide scrollbar for Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.title {
  font-size: 2.4vh;
  color: #25307f;
  font-weight: 550;
  margin-bottom: 3vh;
}

.formGrid {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
}

.column:first-child {
  flex: 0.9; // Slightly smaller width for left column
  width: 40%;
}

.column:last-child {
  flex: 1.1; // Slightly larger right column
  width: 60%;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2.2vh;
}

.formGroup {
  display: flex;
  flex-direction: column;
  font-size: 1.9vh;

  p {
    color: #4a4a4a;
    font-weight: 500;
    margin-bottom: 0.6vh;
  }

  input,
  select,
  textarea {
    border: 1px solid #d1d5db;
    border-radius: 4px;
    padding: 0.8vh 1vh;
    font-size: 1.9vh;
    font-family: "Karla", sans-serif;
    color: #111827;
    background-color: #fff;
    outline: none;

    &:focus {
      //border-color: #2563eb;
      //box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.3);
    }
  }

  textarea {
    min-height: 6vh;
    resize: none;
    width: 80%;
  }
}

.attachmentWidth {
  width: 100%;
}
.row1 {
  margin-top: 1vh;
}

.input {
  height: 4vh;
}

.inputText {
  height: 3.8vh;
}

.inputDate {
  height: 4.3vh;
}

.dropdown,
.dropdown2 {
  position: relative;
  //width: 4%; // Use a percentage of viewport width for the dropdown
  // min-width: 120px; // Optional: fallback for very small screens
  font-family: "Inter", sans-serif;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  height: 5.5vh;
}

.trigger {
  width: 100%;
  background: #fff;
  border: none;

  border-radius: 0px;
  padding: 0vh 0.7vw;
  cursor: pointer;
  font-size: 1.8vh;
  font-family: "Karla", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.5vh;
}

.arrow {
  color: #777;
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-shadow: 0 0.3vh 1vh rgba(60, 64, 67, 0.08);
  border-radius: 0.7vh;
  width: 100%;
  z-index: 10;
  margin-top: 0.2vh;
  padding: 0;
  list-style: none;
  font-size: 2vh;
  font-family: "Karla", sans-serif;
}

.item {
  padding: 1.7vh 1vw;
  cursor: pointer;
  font-size: 1.9vh;
  color: #222;
  background: #fff;
  transition: background 0.15s;
  &:hover {
    background: #f5f8fd;
  }
}

.active {
  background: #e6edfd !important;
  color: #25307f;
  font-weight: 500;
}

.label {
  color: #4a4a4a;
  font-size: 1.9vh;
}

h6 {
  color: #4a4a4a;
  font-size: 1.8vh;
}

.submitContainer {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  button {
    background: #25307f;
    color: white;
    padding: 0.6vh 3vh;
    border-radius: 4px;
    font-size: 2vh;
    font-weight: 400;
  }
}

.attachment {
  display: flex;
  align-items: center;
}

.fileList {
  display: flex;
  flex-wrap: wrap;
  gap: 1vh;
}

.filePreviewBox {
  position: relative;
  display: inline-block;
  margin-right: 1vw;

  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .fileName {
    display: block;
    font-size: 1.5vh;
    color: #333;
    padding: 0.5vh;
    background: #f0f0f0;
    border-radius: 4px;
    max-width: 100px;
    word-wrap: break-word;
  }
}

.removeIcon {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 1px;
  color: #ed4301;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #ed4301;
    color: white;
  }
}

.customFileUpload {
  display: inline-block;
  padding: 0.8vh 1.6vw;
  font-size: 1.8vh;
  font-weight: 500;
  color: #25307f;
  background-color: #f5f8ff;
  border: 1px solid #c3d2f3;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  text-align: center;
  transition: background 0.2s ease;
  width: 72%;
  margin-bottom: 2vh;
  &:hover {
    background-color: #e5edff;
  }

  .inputFile {
    display: none;
  }
}

.inputTextMed {
  width: 80%;
  height: 3.8vh;
}
