.crossContainer {
  display: flex;
  justify-content: flex-end;
  color: #5461be;

  :hover {
    background: #ed4301;
    color: white;
    cursor: pointer;
  }
}

.container {
  padding: 0 2vw 2vh 2vw;
  font-family: "Karla", sans-serif;
  height: 60vh;
  overflow-y: auto;
  h1 {
    font-size: 2.5vh;
    font-weight: 550;
    color: #25307f;
    margin-bottom: 3vh;
  }

  /* Hide scrollbar for Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.label {
  font-size: 1.9vh;
  color: #4a4a4a;
  font-weight: 500;
}

.labelRow {
  font-size: 1.9vh;
  color: #4a4a4a;
  width: 35%;
}

.ans {
  font-size: 1.9vh;
  width: 60%;
}

.section1 {
  background: #f2f5ff;
  display: flex;
  gap: 1vw;
  padding: 1.6vh 1vw;
}

.sec1Left {
  display: flex;
  flex-direction: column;
  gap: 1.6vh;
}

.sec1Left,
.sec1Right {
  width: 48%;
}

.sec1LeftRow {
  display: flex;
  gap: 5%;
}

.uploadedFilesWrapper {
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 1.4vh;
  padding: 1.8vh 0.6vw;
  margin-top: 1vh;
  li {
    list-style-type: none;
    background-color: #e5ecff;
    padding: 0.4vh 0.6vw;
    display: flex;
    align-items: center;
    gap: 1vw;
    overflow-x: hidden;
    a {
      color: #454648;
      font-size: 1.8vh;
    }
  }
}

.content {
  border: 1px solid #cfcfcf;
  margin-top: 1vh;
  ul {
    padding: 1.8vh 0.8vw;
    display: flex;
    flex-direction: column;
    gap: 0.6vh;
  }
  li {
    font-size: 1.9vh;
    color: #484848;
    font-weight: 500;
    padding: 0vh;
  }
}
.section2 {
  display: flex;
  gap: 5%;
  margin-top: 3vh;
}

.sec2Left,
.sec2Right {
  width: 45%;
}
