.billing-container {
  background: #f1f1f1;
  color: black;
  padding: 0;

  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 0.6rem;
  }

  .divider {
    width: 100%;
    height: 0.5px;
    background: #4a4a4a8c;
    margin: 10px 0 10px 0;
  }

  .billings-table {
    max-height: 66vh; /* Ensure vertical scrolling */
    overflow-y: auto; /* Enable scrolling */
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    .table-header,
    .table-row {
      display: grid;
      grid-template-columns: 1.25fr 1.5fr 1.5fr 1.25fr 1.25fr 1.25fr 1fr;
      padding: 0.7rem;
      align-items: center;
    }

    .table-header {
      font-size: 1rem;
      padding-left: 1.5rem;
      position: sticky;
      top: 0;
      z-index: 10;
      background: #f1f1f1; /* Ensure it has a background */
    }

    .table-row {
      font-size: 0.85rem;
      background: white;
      margin-bottom: 0.75rem;
      span {
        padding-left: 1rem;
      }

      .view-btn {
        background: white;
        color: #25307f;
        border-radius: 1.5rem;
        border: 1px solid #25307f;
        text-transform: none;
        max-width: 60px;
      }

      .menu-btn {
        color: #555;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .grey {
        color: #747474;
        font-weight: 600;
      }

      .blue {
        color: #25307f;
        font-weight: 600;
      }
      .status {
        font-weight: bold;

        text-align: center;
        width: fit-content;
      }

      .status.paid {
        color: #3db461;
      }

      .status.unpaid {
        color: hsl(354, 90%, 51%);
      }
    }
  }
  .css-7reshl-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root:hover
    .MuiOutlinedInput-notchedOutline {
    border-color: inherit !important;
  }
}
.search-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 24px;

  .search-icon {
    color: #666;
    margin-right: 6px;
  }

  .search-input {
    border: none;
    outline: none;
    font-size: 0.9rem;
    background: transparent;
  }
}
